<h1>Product Record (HTML)</h1>

<p>You requested an HTML version of this product record, which is presented below.  For a more complete front end, check
out the <a href="https://github.com/GPII/ul-website">ul-website package</a>.</p>

<pre>
    {{{ jsonify model.product }}}
</pre>