<h1>Product Search (HTML)</h1>

<p>You requested an HTML version of the search.  This package does not provide a search form.For a more complete front end, check
    out the <a href="https://github.com/GPII/ul-website">ul-website package</a>.</p>