<h1>Updates (HTML)</h1>

<p>You requested an HTML version of the updates report.  This package does not provide a form to access the updates API.  For a more complete front end, check out the <a href="https://github.com/GPII/ul-website">ul-website package</a>.</p>