<div class="row collapse ul-topbar">
    <div class="column large-9 medium-12 small-12">
        {{>common-topbar-nav-menu}}
    </div>
    <div class="column large-3 medium-12 small-12">
        <div class="controls-viewport"></div>
    </div>
</div>